<h1>Demo#hello</h1>

<p>Hello World!</p>

ID: <%= @id %><br/>
Page <%= @page %>&nbsp;|&nbsp;
Next page: <%= @page + 1 %><br/>


<% @array.each do |n| %>
<%= n %><br/>
<% end %>

<%= link_to("My first link", {:action => 'index'}) %>

<hr/>

<script src="http://crunchies2011.techcrunch.com/wp-content/themes/crunchies/js/embed.js" type="text/javascript"></script><script type="text/javascript">catname="Best Cloud Service";companyname="Dropbox";nom="OTo1MA==";cr_showVotingBadge_2011();</script>

<%= params.inspect %>